// FOOTER LAYOUT

.footer {
	// VARIABLES

	--_padding-footer: 25px;

	// BASE STYLES

	position: relative;

	padding-block: var(--_padding-footer);

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		font-family: var(--font-family-accent);
	}
}
